<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css" />
    <title>{{title}}</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>Welcome to my task app</p>
        <p>This app is an adaptation of a API developed in a Node.js course I 
        recently finished in Udemy &#40; <a href="https://www.udemy.com/course/the-complete-nodejs-developer-course-2/" target="_blank">Course Link</a> &#41;</p>
        <p>The API version of this app uses <a href="https://expressjs.com/ " target="_blank">Express</a> to create the web related configurations, <a href="https://www.mongodb.com/atlas/database" target="_blank" >MongoDB Atlas</a> for the database and <a href="https://mongoosejs.com/" target="_blank" >Mongoose ODM</a> to manipulate the database.</p>
        <p>To create this app I also used <a href="https://expressjs.com/ " target="_blank">Express</a> to create the web related configurations, <a href="https://handlebarsjs.com/" target="_blank">Handlebars</a> as template engine,
        <a href="https://www.postgresql.org/" target="_blank">PostgreSQL</a> for the database, <a target="_blank" href="https://sequelize.org/">Sequelize ORM</a> to manipulate the database, and <a href="https://www.passportjs.org/" target="_blank" >Passport</a> to create the authentication strategy.</p>
        <p>Original API repo: <a href="https://github.com/devdanielcambinda/nodeCourse-task-app-deployed" target="_blank">GitHub</a></p>
        <p>This app's repo: <a href="https://github.com/devdanielcambinda/hbs_passport_sequelize_task_app" target="_blank">GitHub</a></p>
    </div> 
  
    {{>footer}}
</body>
</html>