<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/form.css" />
    <title>{{title}}</title>
  </head>
  <body>
      <div class="main-content">
      {{>header}}
      <form action="/tasks" method="get">
      
      
      
      </form>
      <h3><b>Tasks:</b></h3>
      <hr>
      {{#each tasks}}
          <p>Description: {{description}} </p>
          <p>Date: {{date}}</p>
          {{#ifCond completed true}}
          <p>Completed: Yes</p>
          {{else}}
          <p>Completed: No</p>
          {{/ifCond}}
          <hr>
      {{/each}}
      </div>
  
      {{>footer}}
  </body>
</html>