<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/form.css" />
    <title>{{title}}</title>
  </head>
  <body>
      <div class="main-content">
      {{>header}}
      <form action="/tasks" method="post">
      <p>You can filter the by marking the checkbox with what filter you want.</p>
      <input type="checkbox" name="cb_description" id="cb_description"><label for="description"><b>Description</b> </label>
      <input type="text" name="description" id="description">
      <input type="checkbox" name="cb_date" id="cb_date"><label for="date"><b>Date</b></label>
      <input type="date" name="datefield" id="datefield">
      <input type="checkbox" name="cb_completed" id="cb_completed"><label  for="completed"><b>Completed</b></label>
       <div class="select">
          <select id="completed" name="completed">
            <option value="true">Yes</option>
             <option value="false">No</option>
          </select>
        </div>
        <hr>
      <input type="submit" value="Search">
      </form>
      <h3><b>All your tasks:</b></h3>
      <hr>
      {{#each tasks}}
          <p>Description: {{description}} </p>
          <p>Date: {{date}}</p>
          {{#ifCond completed true}}
          <p>Completed: Yes</p>
          {{else}}
          <p>Completed: No</p>
          {{/ifCond}}
          <hr>
      {{/each}}
      </div>
  
      {{>footer}}
  </body>
</html>